<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Inventory</title>
<link rel="stylesheet" href="css/bootstrap.css" />
<link rel="stylesheet" href="css/app.css" />
<link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
<style>
input.ng-valid {
	background-color: lightgreen;
}

input.ng-dirty.ng-invalid-required,input.ng-dirty.ng-invalid-number {
	background-color: red;
}

input.ng-dirty.ng-invalid-min {
	background-color: yellow;
}


</style>
<script
	src="https://tildesites.bowdoin.edu/~k.preslermarshall/AngularJS/angular.min.js"></script>
</head>

<body>


	<script>
		/*<![CDATA[*/
		var app = angular.module('myApp', []);
		app.controller('inventoryCtrl', function($scope, $http) {
			$scope.inventoryOriginal = {
				coffee : '',
				milk : '',
				sugar : '',
				chocolate : ''
			};

			$scope.getInventory = function() {
				$http.get("/api/v1/inventory").then(function(response) {
					$scope.inventoryOriginal = response.data;
				}, function(rejection) {
					console.error("Error while getting Inventory");
				})
			}

			$scope.updateInventory = function() {
				$scope.success = false;
				$scope.failure = false;

				$http.put("/api/v1/inventory", $scope.inventory).then(
						function(response) {
							$scope.getInventory();

						}, function(rejection) {
							$scope.failure = true;
							$scope.success = false;
							console.error("Error while updating Inventory!");
						});
				$scope.success = !($scope.failure);
			}

			$scope.submit = function() {
				$scope.updateInventory();
				$scope.reset();
			}

			$scope.getInventory();

			$scope.reset = function() {
				$scope.inventory = {
					coffee : '',
					milk : '',
					sugar : '',
					chocolate : ''
				};

				if (undefined != $scope.addInventoryForm) {
					$scope.addInventoryForm.$setPristine(); //reset Form
				}
			}

			$scope.reset();

		});
		/*]]>*/
	</script>



	<div class="generic-container ng-cloak" ng-app="myApp"
		ng-controller="inventoryCtrl as ctrl">
		<div class="panel panel-default">
			<div class="panel-heading">
				<span class="lead">View Inventory</span>
			</div>

			Coffee: <span id="currentCoffee" ng-bind="inventoryOriginal.coffee"></span><br />
			Milk: <span id="currentMilk" ng-bind="inventoryOriginal.milk"></span><br />
			Sugar: <span id="currentSugar" ng-bind="inventoryOriginal.sugar"></span><br />
			Chocolate: <span id="currentChocolate"
				ng-bind="inventoryOriginal.chocolate"></span><br />

			<div class="panel-heading">
				<span class="lead">Update Inventory Form </span>
			</div>
			<div class="formcontainer">
				<form ng-submit="submit()" name="addInventoryForm"
					class="form-horizontal">
					<div class="row">
						<div class="form-group col-md-12">
							<label class="col-md-2 control-lable" for="file">Coffee</label>
							<div class="col-md-7">
								<input type="number" ng-model="inventory.coffee" name="coffee"
									class="coffee form-control input-sm"
									placeholder="Enter amount of coffee" required="0" min="0"/>
								<div class="has-error" ng-show="addInventoryForm.$dirty">
									<span ng-show="addInventoryForm.coffee.$error.required">This
										is a required field.</span> <span
										ng-show="addInventoryForm.coffee.$error.min">Minimum
										amount is 0.</span> <span ng-show="addInventoryForm.coffee.$invalid">This
										field is invalid.</span>
								</div>
							</div>
						</div>
					</div>


					<div class="row">
						<div class="form-group col-md-12">
							<label class="col-md-2 control-lable" for="file">Milk</label>
							<div class="col-md-7">
								<input type="number" ng-model="inventory.milk" name="milk"
									class="milk form-control input-sm"
									placeholder="Enter amount of milk" required="0" min="0"/>
								<div class="has-error" ng-show="addInventoryForm.$dirty">
									<span ng-show="addInventoryForm.milk.$error.required">This
										is a required field.</span> <span
										ng-show="addInventoryForm.milk.$error.min">Minimum
										amount is 0.</span> <span ng-show="addInventoryForm.milk.$invalid">This
										field is invalid.</span>
								</div>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="form-group col-md-12">
							<label class="col-md-2 control-lable" for="file">Sugar</label>
							<div class="col-md-7">
								<input type="number" ng-model="inventory.sugar" name="sugar"
									class="sugar form-control input-sm"
									placeholder="Enter amount of sugar" required="0" min="0"/>
								<div class="has-error" ng-show="addInventoryForm.$dirty">
									<span ng-show="addInventoryForm.sugar.$error.required">This
										is a required field.</span> <span
										ng-show="addInventoryForm.sugar.$error.min">Minimum
										amount is 0.</span> <span ng-show="addInventoryForm.sugar.$invalid">This
										field is invalid.</span>
								</div>
							</div>
						</div>
					</div>


					<div class="row">
						<div class="form-group col-md-12">
							<label class="col-md-2 control-lable" for="file">Chocolate</label>
							<div class="col-md-7">
								<input type="number" ng-model="inventory.chocolate"
									name="chocolate" class="chocolate form-control input-sm"
									placeholder="Enter amount of chocolate" required="0" min="0"/>
								<div class="has-error" ng-show="addInventoryForm.$dirty">
									<span ng-show="addInventoryForm.chocolate.$error.required">This
										is a required field.</span> <span
										ng-show="addInventoryForm.chocolate.$error.min">Minimum
										amount is 0.</span> <span
										ng-show="addInventoryForm.chocolate.$invalid">This
										field is invalid.</span>
								</div>
							</div>
						</div>
					</div>


					<div class="row">
						<div class="form-actions floatRight">
							<input type="submit" value="Submit"
								class="btn btn-primary btn-sm"
								ng-disabled="addInventoryForm.$invalid" />
							<button type="button" ng-click="reset()"
								class="btn btn-warning btn-sm"
								ng-disabled="addInventoryForm.$pristine">Reset Form</button>
						</div>
					</div>
				</form>
			</div>
			<div ng-show="success">Inventory Successfully Updated</div>
			<div ng-show="failure">Error while updating inventory.</div>
		</div>

		<a href="/index">Home</a>
	</div>



</body>
</html>
